ログインしている人：
<%= @current_user.name %>

<tbody>
  <tr>
    <td><%= link_to 'Show', @current_user %></td>
    <td><%= link_to 'Edit', edit_user_path(@current_user) %></td>
    <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
</tbody>
