<header class="navbar navbar-expand-md navbar-dark fixed-top" id="header">
  <div class="container">
    <div class="logo">
      <%= link_to "Logo", root_path, id: "logo" %>
      <%#= link_to "Logo", login_path, id: "logo" %>
      <% if @current_user %>
      <%= link_to "ログアウト", logout_path, id: "logout", method: :post %>
      <% else %>
      <%= link_to "ログイン", login_path, id: "login" %>
      <% end %>
    </div>
  </div>
</header>
